@media (max-width: 1119px){
    .txt{
        padding: 0 150px
    }

    #iconegata{
        width: 210px;
        height: 200px;
    }
    .gata .centro img{
        width: 500px;
        height: auto;
    }

}


@media (max-width: 1003px){

    .txt{
        padding: 0 120px
    }
    #iconegata{
        width: 190px;
        height: 180px;
    }
    .gata .centro img{
        width: 450px;
        height: auto;
    }

}
@media (max-width: 823px){
    .txt{
        padding: 0 110px
    }

    @keyframes gatamexendocentro {
        0% {top: 10px;}
        50% { top: 13px;}
        100% {top: 10px;}
    }
        
    
    .gata{
        
        width: 750px;
        display: flex;
        flex-direction: column;
    }
    .gata .le{
        display: flex;
        flex-direction: row;
        margin: 10px 100px;
    }
    .gata .ld{
        display: flex;
        flex-direction: row;
        margin: 10px 100px;
    }
    #iconegata{
        width: 120px;
        height: 1px;
    }
    .gata .centro img{
        width: 420px;
        height: auto;
    }

}

@media (max-width: 720px){

        .txt{
        padding: 0 70px
    }
    .gata .le{
    
        margin: 4px 15px;
    }
    .gata .ld{
        margin: 4px 15px;
    }

    .gata{
        width: 200px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #iconegata{
        width: 120px;
        height: 120px;
    }
    .gata .centro img{
        width: 380px;
        height: auto;
    }

}