@media (max-width: 1119px){


    #iconegata{
        width: 210px;
        height: 200px;
    }
    .gata .centro img{
        width: 500px;
        height: auto;
    }

}


@media (max-width: 1003px){


    #iconegata{
        width: 190px;
        height: 180px;
    }
    .gata .centro img{
        width: 450px;
        height: auto;
    }

}
@media (max-width: 823px){

    @keyframes gatamexendocentro {
        0% {top: 10px;}
        50% { top: 30px;}
        100% {top: 10px;}
    }
        
    
    .gata{
        display: flex;
        flex-direction: column;
    }
    .gata .le{
        display: flex;
        flex-direction: row;
    }
    .gata .ld{
        display: flex;
        flex-direction: row;
    }
    #iconegata{
        width: 180px;
        height: 170px;
    }
    .gata .centro img{
        width: 430px;
        height: auto;
    }

}

@media (max-width: 720px){

    .gata{
        display: flex;
        flex-direction: column;
    }

    #iconegata{
        width: 160px;
        height: 150px;
    }
    .gata .centro img{
        width: 380px;
        height: auto;
    }

}